.cbpanel-button {
    /*-fx-padding: 0.7em 0.57em;*/
    -fx-font-size: 14px;
    /*-jfx-button-type: RAISED;*/
    /*-fx-background-color: rgb(77, 102, 204);*/
    /*-fx-pref-width: 200;*/
    /*-fx-text-fill: WHITE;*/
    -fx-background-color: powderblue;
}

.cbpanel-button:hover {
    -fx-font-style: italic;
    -fx-background-color: burlywood;
}