.icon-active {
    -fx-background-color: black;
}

.icon-active-image {
    -fx-fill: green;
}

.icon-active-sample {
    -fx-fill: blue;
}

.icon-inactive {
    -fx-fill: lightgray;
}

.icon-error {
    -fx-background-color: red;
}

.icon-ok {
    -fx-background-color: green;
}

.gridpane {
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 10 10 10 10;
}

/* Hide empty lists
.list-cell:empty {
    -fx-opacity: 0;
} */

.root {
    -fx-background-color: rgb(100,100,100);
}


/* Set background color of empty rows */
.table-row-cell:empty {
    -fx-background-color: rgb(100,100,100);
}

/* Hide empty rows */
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.vars-dialog-label {

}

.vars-dialog-textfield {

}


/* For JFXSlider */
-jfx-indicator-position {

}


.jfx-button {
    -fx-text-fill: orangered;
}
