/* From https://github.com/BlueGoliath/Goliath-JavaFX-CSS-Skin */
.title-pane, .title-pane > .label, .menubar {
    -fx-background-color: #444444;
    -fx-text-fill: white;
}

.close, .minimize {
    -fx-border-color: #3D3D3D #3D3D3D #3D3D3D #3D3D3D;
    -fx-border-radius: 1;
}

.menu-button:hover {
    -fx-background-color: #F0544C;
}

.menu-button:showing {
    -fx-background-color: #F0544C;
}

.menu > .label {
    -fx-text-fill: white;
}

.menu-item {
    -fx-background-color: #3D3D3D;
}

.menu-item:hover {
    -fx-background-color: #F0544C;
}

.menu-item .label {
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: #3D3D3D;
}

/*
	PANE STUFF
*/
.pane, .hbox, .vbox, .content, .text-area {
    -fx-background-color: #3D3D3D;
    -fx-background-radius: 0;
}

.pane > .label, .text-area, .hbox > .label, .vbox > .label {
    -fx-text-fill: #B3A9A3;
}

/*
	BUTTON STUFF
*/
.button {
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: #3D3D3D;
    -fx-text-fill: orangered;
}

.button:hover {
    -fx-background-color: #F0544C;
}


.list-view {
    -fx-background-color: #2E2E2E;
}

.list-view:vertical, .list-cell {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-border-radius: 0;
    -fx-background-insets: 0;

}

.list-cell:hover {
    -fx-background-color: #F0544C;
}

/*
	TAB STUFF
*/
.tab-pane:top, .tab-header-area {
    -fx-padding: 0 0 0 0;
}

.focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.headers-region, .tab-header-background {
    -fx-background-color: #2E2E2E;
}

.tab {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: #2E2E2E;
}

.tab:hover {
    -fx-background-color: #454545;
}

.tab:selected {
    -fx-focus-color: transparent;
    -fx-background-color: #3D3D3D;
    -fx-border-color: #F0544C #F0544C #3D3D3D #F0544C;
    -fx-border-radius: 1;
}

.tab-label {
    -fx-text-fill: #B3A9A3;
    -fx-padding-right: 20;
}

.tab-close-button {
    -fx-background-color: #C4C4C4;

}

.table-view {
    -fx-background-color: #2E2E2E;

    -fx-table-cell-border-color: transparent;
}

.table-view > .column-header-background {
    -fx-color: #3D3D3D;
    -fx-background-color: #3D3D3D;
    -fx-text-fill: #3D3D3D;
}

.table-view > .column-header-background > .column-drag-header {
    -fx-background-color: #3D3D3D;
}

.table-view > .column-header-background > .nested-column-header > .column-header {
    -fx-background-color: #3D3D3D;
    -fx-text-fill: white;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-color: #2E2E2E;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.text-field {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.spinner, .increment-arrow-button, .decrement-arrow-button {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.spinner > .text-field {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.scroll-bar {
    -fx-background-color: #3D3D3D;
    -fx-color: #2E2E2E;
    -fx-background-radius: 0;
}

.scroll-bar .slider {
    -fx-background-color: #2E2E2E;
}

.scroll-bar:hover .slider {
    -fx-background-color: #2E2E2E;
}

.cell {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: white;
}

.cell:odd {
    -fx-background-color: #3D3D3D;
}

.cell:hover {
    -fx-background-color: #454545;
}

.cell:selected {
    -fx-background-color: #F0544C;
}