

.annotable-association-cell {

}

.annotable-association-cell:empty {
    -fx-opacity: 0;
}

/* Hide the scroll bars in the association list in the annotation table */
.annotable-association-cell .scroll-bar:vertical .increment-arrow,
.annotable-association-cell .scroll-bar:vertical .decrement-arrow,
.annotable-association-cell .scroll-bar:vertical .increment-button,
.annotable-association-cell .scroll-bar:vertical .decrement-button,
.annotable-association-cell .scroll-bar:horizontal .increment-arrow,
.annotable-association-cell .scroll-bar:horizontal .decrement-arrow,
.annotable-association-cell .scroll-bar:horizontal .increment-button,
.annotable-association-cell .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}


.cbpanel-button {
    /*-fx-padding: 0.7em 0.57em;*/
    -fx-font-size: 14px;
    /*-jfx-button-type: RAISED;*/
    /*-fx-background-color: rgb(77, 102, 204);*/
    /*-fx-pref-width: 200;*/
    /*-fx-text-fill: WHITE;*/
    -fx-background-color: powderblue;
}

.cbpanel-button:hover {
    -fx-font-style: italic;
    -fx-background-color: burlywood;
}


.concepttree-treecell {
    -fx-background-color: powderblue;
}


.concepttree-treecell-media {
    -fx-background-color: lightblue;
}

.concepttree-treecell-media:selected {
    -fx-background-color: deepskyblue;
}

.concepttree-treecell:selected {
    -fx-text-fill: coral;
}

.concepttree-treeview {
    -fx-padding: 10 5 5 5;
    -fx-background-color: powderblue;
}

.concepttree-textfield {
    -fx-padding: 5 10 5 10;
    /*-fx-background-color: cornsilk;*/
}

.icon-active {
    -fx-background-color: black;
}

.icon-active-image {
    -fx-fill: green;
}

.icon-active-sample {
    -fx-fill: blue;
}

.icon-inactive {
    -fx-fill: lightgray;
}

.icon-error {
    -fx-background-color: red;
}

.icon-ok {
    -fx-background-color: green;
}



.gridpane {
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 10 10 10 10;
}

/* Hide empty lists
.list-cell:empty {
    -fx-opacity: 0;
} */


.root {
    -fx-background-color: powderblue;
}



/* Set background color of empty rows */
.table-row-cell:empty {
    -fx-background-color: lightyellow;
}

/* Hide empty rows */
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.vars-dialog-label {

}

.vars-dialog-textfield {

}



/* For JFXSlider */
-jfx-indicator-position {

}


