<?xml version="1.0" encoding="UTF-8"?>
<!--
    Logging Configuration.
-->
<configuration scan="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %p %c - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover -->
            <fileNamePattern>${user.home}/.vars/logs/vars-annotation.%d{yyyyMMdd}.log</fileNamePattern>

            <!-- Keep 7 days' worth of history -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss} [%t] %p %c - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="java.util.Date" level="WARN" />
    <logger name="org.mbari.m3.vars.annotation.services.annosaurus.v1.AnnoWebServiceFactory" level="INFO" />
    <logger name="org.mbari.m3.vars.annotation.util.ActiveAppPinger" level="WARN" />
    <logger name="org.mbari.vcr4j.jserialcomm.SerialCommVideoIO" level="INFO" />

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>