<?xml version="1.0" encoding="UTF-8"?>
<!--
    Logging Configuration.
-->
<configuration scan="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %p %c - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="java.util.Date" level="WARN" />
    <logger name="org.mbari.m3.vars.annotation.services.annosaurus.v1.AnnoWebServiceFactory" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>