<?xml version="1.0" encoding="UTF-8"?>
<!--
    Logging Configuration.
-->
<configuration scan="true">

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <variable name="LOGBACK_LEVEL" value="${LOGBACK_LEVEL:-INFO}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%gray(%d{yyyy-MM-dd HH:mm:ss}) [%green(%-32t)] %highlight(%-5p) %blue(%-50c{50})  %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover -->
            <fileNamePattern>${user.home}/.vars/logs/vars-annotation.%d{yyyyMMdd}.log</fileNamePattern>

            <!-- Keep 7 days' worth of history -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss} [%t] %p %c - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="java" level="INFO" />
    <logger name="javafx" level="INFO" />
    <logger name="jdk" level="INFO" />
    <logger name="org.gradle" level="WARN" />
    <logger name="org.mbari.vars.core.util.ActiveAppPinger" level="WARN" />
    <logger name="org.mbari.vars.services.impl.annosaurus.v1.AnnoWebServiceFactory" level="DEBUG" />
    <logger name="org.mbari.vars.services.impl.panoptes.v1.PanoptesWebServiceFactory" level="INFO" />
    <logger name="org.mbari.vars.services.impl.vampiresquid.v1.VamWebServiceFactory" level="DEBUG" />
    <logger name="org.mbari.vars.services.impl.varskbserver.v1.KBWebServiceFactory" level="INFO" />
    <logger name="org.mbari.vars.services.util.WebPreferences" level="INFO" />
    <logger name="org.mbari.vars.ui.mediaplayers.sharktopoda2" level="INFO" />
    <logger name="org.mbari.vcr4j" level="INFO" />
    <logger name="org.mbari.vcr4j.remote" level="INFO" />
    <logger name="org.mbari.vcr4j.sharktopoda.SharktopodaResponseParser" level="WARN" />
    <logger name="org.mbari.vcr4j.sharktopoda.SharktopodaVideoIO" level="WARN" />
    <logger name="sun" level="INFO" />
    <logger name="jdk.httpclient" level="INFO" />


    <root level="${LOGBACK_LEVEL}">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
