<?xml version="1.0" encoding="UTF-8"?>
<!--
    Logging Configuration.
-->
<configuration scan="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %p %c - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="java.util.Date" level="WARN" />
    <logger name="org.mbari.m3.vars.annotation.services" level="INFO" />
    <logger name="org.mbari.m3.vars.annotation.services.varskbserver.v1.KBWebServiceFactory" level="WARN" />
    <logger name="org.mbari.m3.vars.annotation.services.varsuserserver.v1.PrefWebServiceFactory" level="WARN" />
    <logger name="org.mbari.m3.vars.annotation.util.ActiveAppPinger" level="WARN" />
    <logger name="org.mbari.m3.vars.annotation.util.WebPreferences" level="WARN" />
    <logger name="org.mbari.vcr4j" level="INFO" />
    <logger name="org.mbari.vcr4j.sharktopoda.decorators.FramecaptureDecorator" level="DEBUG" />
    <logger name="org.mbari.vcr4j.sharktopoda.SharktopodaResponseParser" level="WARN" />
    <logger name="org.mbari.vcr4j.sharktopoda.SharktopodaVideoIO" level="WARN" />

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>